@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// Colors
$silver: rgb(248, 248, 248);
$green: rgb(27, 245, 143);
$white: rgb(252, 252, 252);
$blue-light: rgb(0, 155, 216);
$blue-dark: rgb(8, 56, 95);
$input: rgb(35, 85, 126);
$header-height: 10vh;

.all {
  background-color: $blue-dark;
  font-family: "Poppins", sans-serif;
  padding: 30px;
  min-height: 100vh;
  .container {
    h1 {
      a {
        text-decoration: none;
        color: $white;
        font-family: "Poppins", sans-serif;
        span {
          color: $green;
        }
      }
    }
    p {
      color: #fff;
      a {
        color: $green;
        text-decoration: none;
      }
    }
  }
  .form-card {
    .step1,
    .step2,
    .step3,
    .step4 {
      width: 70%;
      height: 100%;
      background-color: $white;
      margin: 5vh auto;
      border-radius: 15px;
    }
    .step2,
    .step3,
    .step4 {
      display: none;
    }
  }  
}
